body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: black;
  font-family: roboto;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 10px 200px;
}

.header {
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.footer {
  padding: 16px;
}

.content1 {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 100px 200px;
  flex: 1 0 100%;
  gap: 16px;
}

.item1-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 50%;
  gap: 4px;
}

.hero {
  font-size: 48px;
  font-weight: 900;
}

.secondary {
  font-size: 18px;
  margin: 0;
}

.item1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  flex: 1 0 50%;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  padding: 5em;
}

.button1 {
  padding: 8px 32px;
  margin: 6px auto 6px 0px;
  background-color: #3882f6;
  color: white;
  font-weight: 900;
  border-radius: 8px;
}

.content2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ih {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 50px;
}

.imgs {
  display: flex;
  justify-content: center;
  flex: 1 1 25%;
  gap: 20px;
  padding-bottom: 80px;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
  width: 166px;
}

img {
  border: solid 3px blue;
  padding: 70px;
  border-radius: 10px;
}
