body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: white;
  font-family: roboto;
  margin: 0;
}

/* header/footer */

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.header,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 10px 200px;
}

.header {
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 800;
}

.footer {
  padding: 16px;
}

/* content 1 */

.content1 {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 100px 200px;
  flex: 1 0 100%;
  gap: 16px;
}

.item1-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 1 50%;
  gap: 4px;
}

.hero {
  font-size: 48px;
  font-weight: 900;
}

.secondary {
  font-size: 18px;
  margin: 0;
}

.item1-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  flex: 1 0 50%;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  padding: 5em;
}

.button1 {
  padding: 8px 32px;
  margin: 6px auto 6px 0px;
  background-color: #3882f6;
  color: white;
  font-weight: 900;
  border-radius: 8px;
}

/* content 2 */

.content2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ih {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding: 50px;
}

.imgs {
  display: flex;
  justify-content: center;
  flex: 1 1 25%;
  gap: 40px;
  padding-bottom: 100px;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description {
  width: 150px;
  margin: 8px;
  color: grey;
}

img {
  border: solid 4px #3882f6;
  padding: 75px;
  border-radius: 15px;
}

/* content 3 */

.content3 {
  background-color: #e5e7eb;
  color: #1f2937;
  font-weight: 300;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  padding: 150px 280px;
}

.source {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  padding: 0 48px;
}

/* content */

.content4 {
  background-color: white;
  display: flex;
}

.call {
  display: flex;
  flex-direction: column;
}
